@model Kalori.ViewModels.MemberFormViewModel
@{
    ViewBag.Title = "Ny medlem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ny medlem</h2>
<h4>@Html.ActionLink("Tillbaka", "Index", "Members", null, new { @class = "btn btn-primary"})</h4>
@using (Html.BeginForm("Save", "Members"))
{
    @Html.ValidationSummary(true, "Var god ändra följande fel")
    <div class="form-group">
        @Html.LabelFor(m => m.Member.Name)
        @Html.TextBoxFor(m => m.Member.Name, new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.Member.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Member.BirthDate)
        @Html.TextBoxFor(m => m.Member.BirthDate, "{yyyy-mm-dd}", new { @class = "form-control", @id = "datepicker"})
        @Html.ValidationMessageFor(m => m.Member.BirthDate)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Member.MembershipTypeId)
        @Html.DropDownListFor(m => m.Member.MembershipTypeId, 
            new SelectList(Model.MembershipTypes, "Id", "Name"),
            "Välj medlemstyp",
            new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Member.MembershipTypeId)

    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Member.IsSubscribedToNewsLetter) Prenumerera på nyhetsbrev?
        </label>
    </div>
    @Html.HiddenFor(m => m.Member.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Spara</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $("#datepicker").datepicker({
                dateFormat: 'yy-mm-dd',
                changeYear: true,
                maxDate: '-1D',
                yearRange: '-99:+10'
            });
        } );
    </script>

}
