@model Inkopslista.Models.Product

@{
    ViewBag.Title = Model.Food.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <br />
    @Html.ActionLink("Tillbaka", "Index", "Foods", null, null)
</p>
<h2>@Model.Food.Name</h2>

<div id="chartContainer" style="height: 200px; width: 100%;"></div>


<table class="table table-bordered table-hover" width="400">
    <tbody>
        <tr>
            <td><b>Pris: </b></td>
            <td>@Model.Price kr</td>
        </tr>
        <tr>
            <td><b>Näringsämne (enhet): </b></td>
            <td></td>
        </tr>
        <tr>
            <td>Energi (kcal): </td>
            <td>@Model.Food.EnergiKcal</td>
        </tr>
        <tr>
            <td>Energi (kJ): </td>
            <td>@Model.Food.EnergiKJ</td>
        </tr>
        <tr>
            <td>Kolhydrater (g): </td>
            <td>@Model.Food.Kolhydrater</td>
        </tr>
        <tr>
            <td>Fett (g): </td>
            <td>@Model.Food.Fett</td>
        </tr>
        <tr>
            <td>Protein (g): </td>
            <td>@Model.Food.Protein</td>
        </tr>
        <tr>
            <td>Alkohol (g): </td>
            <td>@Model.Food.Alkohol</td>
        </tr
        <tr>
            <td>Fibrer (g): </td>
            <td>@Model.Food.Fibrer</td>
        </tr>
        <tr>
            <td>Fullkorn totalt (g): </td>
            <td>@Model.Food.FullkornTotalt</td>
        </tr>
        <tr>
            <td>Sockerarter (g): </td>
            <td>@Model.Food.Sockerarter</td>
        </tr>
        <tr>
            <td>Summa mättade fettsyror (g): </td>
            <td>@Model.Food.SummaMattadeFettsyror</td>
        </tr>
        <tr>
            <td>Summa enkelomättade fettsyror (g): </td>
            <td>@Model.Food.SummaEnkelOmattadeFettsyror</td>
        </tr>
        <tr>
            <td>Summa fleromättade fettsyror (g): </td>
            <td>@Model.Food.SummaFleromattadeFettsyror</td>
        </tr>
        <tr>
            <td>Vitamin D (µg): </td>
            <td>@Model.Food.VitaminD</td>
        </tr>
        <tr>
            <td>Vitamin C (mg): </td>
            <td>@Model.Food.VitaminE</td>
        </tr>
        <tr>
            <td>Folat (µg): </td>
            <td>@Model.Food.Folat</td>
        </tr>
        <tr>
            <td>Järn (mg): </td>
            <td>@Model.Food.Jarn</td>
        </tr>
        <tr>
            <td>Salt (g): </td>
            <td>@Model.Food.Salt</td>
        </tr>
    <tfoot>
        <td colspan="2" align="right">Livsmedelsverkets livsmedelsdatabas version 2017-12-15.</td>
    </tfoot>
    </tbody>
</table>
@section Scripts {
    <script type="text/javascript">
        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    theme: "theme2",	
                    data: [
                        {       
                            type: "pie",
                            showInLegend: true,
                            toolTipContent: "#percent %",
                            yValueFormatString: "#,##0,,.## Million",
                            legendText: "{indexLabel}",
                            dataPoints: [
                                { y: @Html.Raw(Json.Encode(Model.Food.Protein)) * 4, indexLabel: "Protein" },
                                { y: @Html.Raw(Json.Encode(Model.Food.Fett)) * 9, indexLabel: "Fett" },
                                { y: @Html.Raw(Json.Encode(Model.Food.Kolhydrater)) * 4, indexLabel: "Kolhydrater" },
                                { y: @Html.Raw(Json.Encode(Model.Food.Alkohol)) * 7, indexLabel: "Alkohol"}
                            ]
                        }
                    ]
                });
            chart.render();
        }
    </script>
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
}
