@model Inkopslista.Models.Recipe

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h4>@Html.ActionLink("Tillbaka", "Index", "Recipe", null, new { @class = "btn btn-primary"})</h4>

<table class="table table-bordered table-hover" style="table-layout:fixed;">
    <thead>
        <tr>
            <td colspan="2" align="center">
                @{
                    var foodImg = Model.Image.Path;
                    var absolutePath = HttpContext.Current.Server.MapPath(foodImg);
                    if (System.IO.File.Exists(absolutePath))

                    {
                        <img src="@foodImg"/>
                    }
                }
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">

                <img src="..\..\Icons\clock.svg" width="20" height="20" title="Tillagningstid"/>
                @(Model.CookingTimeH + ":" + Model.CookingTimeM)
                &nbsp;
                <img src="..\..\Icons\comment.svg" width="20" height="20" title="Kommentarer"/>
                0
                &nbsp;
                <img src="..\..\Icons\portion.svg" width="20" height="20" title="Portioner"/>
                @Model.Portions
                &nbsp;
                <img src="..\..\Icons\star.svg" width="20" height="20" title="Favoriserad"/>
                0
                &nbsp;
                <img src="..\..\Icons\report.svg" width="20" height="20" title="Rapportera"/>
                
            </td>
        </tr>
        <tr>
            <td>
                Ingredienser
            </td>
            <td>
                Tillagning
            </td>
        </tr>
        <tr>
            <td width="30%">
                <table>
                        @for (int i = 0; i < Model.Products.Count; i++)
                        {
                            <tr>
                                <td width="50%">
                                    @Html.DisplayFor(m => m.Products[i].Mass) g 
                                    @Html.HiddenFor(m => m.Products[i].Mass)
                                </td>
                                <td>
                                    @Html.DisplayFor(m => m.Products[i].Food.Name)
                                    @Html.HiddenFor(m => m.Products[i].Food.Name)
                                </td>
                            </tr>
                        }
                </table>
            </td>
            <td>
                <table>
                    @for (int i = 0; i < Model.Instructions.Count; i++)
                    {
                        <tr>
                            <td width="50%">
                                @Html.DisplayFor(m => m.Instructions[i].Number)
                                @Html.HiddenFor(m => m.Instructions[i].Number)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Instructions[i].Name)
                                @Html.HiddenFor(m => m.Instructions[i].Name)
                            </td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </tbody>
</table>