@model Inkopslista.Models.Recipe

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<h4>@Html.ActionLink("Tillbaka", "Index", "Recipe", null, new { @class = "btn btn-primary"})</h4>

<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <td  colspan="2">
            @{
                var foodImg = Model.Image.Path;
                var absolutePath = HttpContext.Current.Server.MapPath(foodImg);
                if (System.IO.File.Exists(absolutePath))

                {
                    <img src="@foodImg"/>
                }
            }
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td colspan="2">

            <img src="..\..\Icons\clock.svg" width="20" height="20" title="Tillagningstid"/>
            @(Model.CookingTimeH + ":0" + Model.CookingTimeM)
            &nbsp;
            <img src="..\..\Icons\comment.svg" width="20" height="20" title="Kommentarer"/>
            0
            &nbsp;
            <img src="..\..\Icons\portion.svg" width="20" height="20" title="Portioner"/>
            @Model.Portions
            &nbsp;
            <img src="..\..\Icons\star.svg" width="20" height="20" title="Favoriserad"/>
            0
            &nbsp;
            <img src="..\..\Icons\report.svg" width="20" height="20" title="Rapportera"/>
            
        </td>
    </tr>
    <tr>
        <td>
            Ingredienser
        </td>
        <td>
            Tillagning
        </td>
    </tr>
    <tr>
        <td>
            <table>

                @if (Model.Products != null)
                {
                    for (int i = 0; i < Model.Products.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.Products[i].Food.Name)
                                @Html.HiddenFor(m => m.Products[i].Food.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Products[i].Mass) g
                                @Html.HiddenFor(m => m.Products[i].Mass)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Products[i].PricePerKg) kr
                                @Html.HiddenFor(m => m.Products[i].PricePerKg)
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.Products[i].PriceTotal) kr
                                @Html.HiddenFor(m => m.Products[i].PriceTotal)
                            </td>
                            <td>
                                <img src="..\Icons\edit.svg" width="20" height="20"/>
                                &nbsp;
                                <img src="..\Icons\delete.svg" width="20" height="20"/>
                            </td>
                        </tr>
                    }
                }
            </table>
        </td>
        <td>

        </td>
    </tr>
    </tbody>
</table>