@model Inkopslista.ViewModels.NewRecipeViewModel
@{
    ViewBag.Title = "Nytt recept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Nytt recept</h2>
<h4>@Html.ActionLink("Tillbaka", "Index", "Recipe", null, new { @class = "btn btn-primary" })</h4>

@using (Html.BeginForm("Create", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<fieldset>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Namn:
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Recipe.Name, new { placeholder = Model.Recipe.Name, @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="margin-top:50px;">
        <label class="col-md-2 control-label">
            Tillagningstid:
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Recipe.CookingTimeH, new { placeholder = Model.Recipe.CookingTimeH, @class = "form-control", style = "width: 40px; float: left" }) h
            @Html.TextBoxFor(m => m.Recipe.CookingTimeM, new { placeholder = Model.Recipe.CookingTimeM, @class = "form-control", style = "width: 40px; display: inline-block" }) min
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" style="margin-top: 10px">
            Portioner:
        </label>
        <div class="col-md-10" style="margin-bottom: 10px; margin-top: 10px">
            @Html.TextBoxFor(m => m.Recipe.Portions, new { placeholder = Model.Recipe.Portions, @class = "form-control", style = "width: 40px" })
        </div>
    </div>
    <div class='form-group'>
        <hr style="width: 100%; color: black; height: 1px; background-color:#f5f5f5;" />
    </div>
    <div class="form-group" style="margin-top: 20px;">
        <label class="col-md-2 control-label">
            Lägg till ingrediens:
        </label>
        <div class="col-md-10">
            @Html.HiddenFor(m => m.NewProduct.FoodId, new { @id = "id" })
            <input type="text" class="form-control" id="searchInput" placeholder="Börja skriv i" /><br />
        </div>
    </div>
    <div class="form-group" style="margin-top: 40px;">
        <label class="col-md-2 control-label">
            Mängd (g):
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewProduct.Mass, new { placeholder = Model.NewProduct.Mass, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
            Pris/kg:
        </label>
        <div class="col-md-10" style="margin-top: 10px;">
            @Html.TextBoxFor(m => m.NewProduct.PricePerKg, new { placeholder = Model.NewProduct.PricePerKg, @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label">
        </label>
        <div class="col-md-10" style="margin-top: 10px;">
            @Html.HiddenFor(m => m.Recipe.Id)

            <button type="submit" name="command" value="AddIngredient" class="btn btn-primary" style="margin-bottom: 10px;">Lägg till ingrediens</button>
        </div>
    </div>

    <div class="form-group" style="margin-top: 20px;">

        <label class="col-md-2 control-label">
            Ingredienser:
        </label>
        <div class="col-md-10">
            <table id="ingredients" class="table table-bordered table-hover" style="margin-top: 10px">
                <thead>
                    <tr bgcolor="#f5f5f5">
                        <th>Vara:</th>
                        <th>Mängd (g):</th>
                        <th>Pris/kg:</th>
                        <th>Pris:</th>
                        <th>Ändra:</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class='form-group'>
        <hr style="width: 100%; color: black; height: 1px; background-color:#f5f5f5;" />
    </div>
    <div class="form-group" style="margin-top: 20px;">
        <label class="col-md-2 control-label">
            Lägg till instruktion:
        </label>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.NewInstruction.Name, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="margin-top: 70px;">
        <label class="col-md-2 control-label">
        </label>
        <div class="col-md-10">
            <button type="submit" name="command" value="AddInstruction" class="btn btn-primary" style="margin-bottom: 10px">Lägg till instruktion</button>
        </div>
    </div>
    <div class="form-group" style="margin-top: 100px;">

        <label class="col-md-2 control-label">
            Instruktioner:
        </label>
        <div class="col-md-10">
            <table id="instructions" class="table table-bordered table-hover pagin-table" style="margin-top: 10px">
                <thead>
                <tr bgcolor="#f5f5f5">
                    <th></th>
                    <th width="10%">Ordning:</th>
                    <th>Instruktion:</th>
                    <th>Ändra:</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class='form-group'>
        <hr style="width: 100%; color: black; height: 1px; background-color:#f5f5f5;" />
    </div>
        <div class="form-group" style="margin-top:20px;">
            <label class="col-md-2 control-label">
                Lägg till bild:
            </label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Recipe.Image.File, new { @class = "form-control-file", type = "file" })
            </div>
        </div>
        <div class="form-group" style="margin-top:50px;">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-10">
                <button type="submit" name="command" value="Create" class="btn btn-primary">Lägg till recept</button>
            </div>
        </div>
</fieldset>
}@section Scripts {
     <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
     <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
     <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
     <script type="text/javascript">
         $(document).ready(function() {
             $("#ingredients").DataTable({
                 "language": {
                     "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Swedish.json"
                 },

                 ajax: {
                     type: "GET",
                     url: "/api/recipes/GetProducts/",
                     datatype: "json",
                     dataSrc: ""
                 },
                 columns: [
                     {
                         data: "name",
                         render: function (data, type, product) {
                             return "<a href='/Shoppinglist/Details/" + product.id + "'>" + product.food.name + "</a>";
                         }
                     },
                     {
                         data: "mass",
                         render: function (data, type, product) {
                             return product.mass + " g";
                         }
                     },
                     {
                         data: "pricePerKg",
                         render: function (data, type, product) {
                             return product.pricePerKg + " kr";
                         }
                     },
                     {
                         data: "priceTotal",
                         render: function (data, type, product) {
                             return product.priceTotal + " kr";
                         }
                     },
                     {
                         data: "id",
                         render: function (data) {
                             return "<button class='btn-link js-delete' " +
                                 "name='command' value='DelIngredient=" + data + "' " +
                                 "data-ingredient-id=" + data + ">" +
                                 "<img src = '../../Icons/delete.svg' / " +
                                 "width='15' height='15' style='vertical-align:top'></button>";
                         },
                         sortable: false
                     }
                 ]
             }),

                 $("#ingredients .js-delete").click(function () {
                 var foo=bar;
                 if ( foo == "bar" ) {
                     var isGood=confirm('Dialogue');
                     if (isGood) {
                         alert('true');
                     } else {
                         alert('false');
                     }
                 }
              }),

              table = $("#instructions").DataTable({
                  rowReorder: {
                      selector: 'tr'
                  },
                 language: {
                     "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Swedish.json"
                 },
                 order: [],
                 ajax: {
                     type: "GET",
                     url: "/api/recipes/GetInstructions/" + @Html.Raw(Json.Encode(Model.Recipe.Id)),
                     datatype: "json",
                     dataSrc: ""
                 },
                 columns: [
                     {
                         data: "id",
                         render: function(data) {
                             return data;
                         },
                         visible: false

                     },
                     {
                         data: "number",
                         sortable: false,
                         render: function(data) {
                             return "<span class='order'>" + data + "</span>";
                         }
                     },
                     {
                         data: "name",
                         sortable: false
                     },
                     {
                         data: "id",
                         render: function (data) {
                             return "<button class='btn-link js-delete' " +
                                 "data-instruction-id=" + data + ">" +
                                 "<img src = '../../Icons/delete.svg' / " +
                                 "width='15' height='15' style='vertical-align:top'></button>";
                         },
                         sortable: false
                     }
                 ],
              }),
             $("#instructions").on("click",
                 ".js-delete",
                 function () {
                     var button = $(this);

                     if ( confirm ( 'Remove this form ?' ) ) {
                         $('#form').remove()
                     };

                     /*
                     
                     bootbox.confirm("Are you sure you want to delete this instruction?",
                         function (result) {
                             if (result) {
                                 $.ajax({
                                     url: "/api/recipes/deleteingredient" + button.attr("data-instruction-id"),
                                     method: "DELETE",
                                     success: function () {
                                         button.parents("tr").remove();
                                     }
                                 });
                             }
                         });
                         */
              }),

             $("#searchInput").autocomplete({
                 source: function (request, response) {
                     $.ajax({
                         url: '@Url.Action("GetFood", "Shoppinglist")',
                         dataType: "json",
                         data: { term: $("#searchInput").val() },
                         success: function (data) {
                             response($.map(data,
                                 function (item) {
                                     return { label: item.label, value: item.label, id: item.id };
                                 }));
                         },
                         error: function (xhr, status, error) {
                             alert("Error");
                         }
                     });
                 },
                 select: function (event, ui) {
                     $("#id").val(ui.item.id);
                     $("#searchInput").val(ui.item.label);
                     return false;
                 }
             }),
             $('#searchInput').change(function () {
                 $('#foodname').val($('#searchInput').val());
             }),
             $('#instructions').sortable({
                 items: "tr",
                 start : function(event, ui) {
                     var start_pos = ui.item.index();
                     ui.item.data('start_pos', start_pos);

                 },
                update: function (event, ui) {
                     var new_pos = ui.item.index();
                     var start_pos = ui.item.data('start_pos');

                    $('span.order').each(function (index) {
                        var order = index + 1;
                        $(this).text(order);
                        //$(this).find('.Number').val(order);
                     });
                 }
             });
         });
         //http://jsfiddle.net/4mcpq/3/
     </script>
 }
